*{
    margin: 0;
    padding: 0;
 }

img{
    width: 150px;
    height: 100px;
   }
header{
    display: inline-flex;
}    

 header, footer{
                 min-width: 100%;
                 height: 120px;
                 background-color: black;
                 color: white;
               }

main{
      min-height: 100vh;
    }                

nav{
     text-align: right;
     margin-left: 70%;
   }

ul{
   display: inline-flex;
   padding-top: 10px;
   padding-right: 10px; 
  }               

li{
    list-style: none;
    padding-left: 20px;
  }

a:hover{
    color: rgb(173, 182, 12);   
 }
 
a:visited{
    color: white;
   }
   
a{
color: red;
}  

#1, #2{
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
      }

label{
        width: 100px;
        display: inline-block;
        text-align: left;
        margin-left: 15px;
        margin-right: 15px;
     }    

form{
        text-align: left;;
         display: inline-block;
     }      